@import 'shared/styles/variables.scss';

.InputField {
    background: #f5f7eb;
    color: $text-color;
    height: 38px;
    line-height: 38px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: 12px;
    outline: none;

    &:focus {
        border: 1px solid $primary-color-lighter400;
    }

    &:disabled {
        background: $border-color;
    }
}
