@import 'shared/styles/variables.scss';

.chooseTemplateWrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    margin: auto;
}

.pageTitle {
    margin-bottom: 40px;
    font-size: 32px;
}

.templatesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dataContainer {
    display: flex;
}

.iconDownload {
    opacity: 0;
    transform: translateY(20px);
}

.iconDownloadActive {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.6s ease-in-out;
}

.iconDownloadleave {
    opacity: 1;
    transform: translateY(0);
}

.iconDownloadLeaveActive {
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.resumeItemEnter {
    opacity: 0;
}
.resumeItemEnterActive {
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.resumeItemLeave {
    opacity: 1;
}

.resumeItemLeaveActive {
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.resumeItemAppear {
    opacity: 0;
}

.resumeItemAppearActive {
    opacity: 1;
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}
