@import 'shared/styles/variables.scss';

.BuildResumeWrapper {
    display: flex;
    width: 1170px;
    margin: auto;
    padding: 20px;
}

.contentWrapper {
    width: 60%;
    background: #fff;
    padding: 20px;
    border: 1px solid $border-color;
    border-radius: 4px;
}

.sideArea {
    width: 40%;
    margin-left: 30px;
}

.title {
    margin-bottom: 40px;
}

.formContainer {
    display: flex;
    flex-wrap: wrap;
    visibility: visible;
    max-height: 550px;
    overflow: hidden;
    transition: max-height 0.5s;
    padding-top: 15px;

    &.hidden {
        visibility: hidden;
        max-height: 0;
        opacity: 0;
        padding-top: 0;
    }
}

.formControl {
    width: 50%;
    padding-right: 30px;
    margin-bottom: 30px;
    input {
        width: 100%;
    }

    &:nth-child(even) {
        padding-right: 0;
    }

    &.fullWidth {
        width: 100%;
        padding-right: 0;
    }

    &.oneThird {
        width: 33%;
        padding-left: 8px;
        padding-right: 8px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.themeWrapper {
    transform: scale(0.35);
    transform-origin: top left;
}

.experienceCard {
    position: relative;
    padding: 15px;
    background: lighten($bg-color, 2%);
    border: 1px solid $border-color;
    margin-bottom: 20px;
    border-radius: 2px;
}

.experienceTitle {
    color: $text-color;
    font-size: 15px;
    margin-bottom: 6px;
}

.duration {
    font-size: 12px;
    font-weight: normal;
    color: $text-color3;
    font-style: italic;
}

.iconsContainer {
    position: absolute;
    top: 15px;
    right: 15px;
}

.icon {
    cursor: pointer;
    margin-right: 15px;
    fill: $text-color;
    opacity: 0.7;
    transition: all 0.3s;

    &:hover {
        opacity: 1;
    }

    &:last-of-type {
        margin-right: 0;
    }
}

.checkBoxWrapper {
    display: flex;
    margin-top: 15px;
    font-size: 12px;
    align-items: center;

    .label {
        margin-left: 8px;
    }
}

.arrowDown {
    transform: rotate(90deg);

    &.active {
        transform: rotate(270deg);
    }
}

.dataContainer {
    cursor: pointer;
}

.sectionContainer {
    margin-bottom: 50px;
}

.navigation {
    display: flex;
    margin-top: 30px;
}

.nextBtn {
    background: $primary-color;
    margin-left: auto;
    color: #fff;
    padding: 10px 40px;
    border-radius: 4px;
}
