@import '../../../../../shared/styles/variables.scss';

.aside {
    color: $light-text-color;
    fill: $light-text-color;
    width: 30%;
    padding: 20px 40px;
    padding-top: 180px;
    // height: 100vh; // to be removed later
    background: $volga-primary;
}
