@import 'shared/styles/variables.scss';

.templateWrapper {
    display: flex;
    width: 1280px;
    background: #fff;
    align-self: stretch;
    justify-self: stretch;
    margin: auto;
    height: 100%;
    min-height: 100vh;
}

.contentContainer {
    padding: 20px 40px;
    width: 70%;
    padding-top: 70px;
}

.placeHolder {
    width: 20px;
}
