@import 'shared/styles/variables.scss';

.templateWrapper {
    position: relative;
    padding-bottom: 39px;
    display: flex;
    width: 1280px;
    background: #fff;
    align-self: stretch;
    justify-self: stretch;
    margin: auto;
    min-height: 1682px;
}

.contentContainer {
    padding: 20px 40px;
    width: 70%;
    padding-top: 70px;
}

.placeHolder {
    width: 20px;
}
