@import 'shared/styles/globalStyles.scss';

.button {
    padding: 10px 20px;
    border-radius: 24px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.primary {
    background: $primary-color;

    transition: all 0.3s;
    &:hover {
        background: lighten($primary-color, 5%);
    }
}

.link {
    color: $secondary-color;
    background: #fff;
    // border: 1px solid $primary-color;
    font-weight: bold;

    &:hover {
        background: lighten($secondary-color, 45%);
    }
}
