@import 'shared/styles/globalStyles.scss';

.button {
    padding: 10px 24px;
    border-radius: 30px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.primary {
    background: $primary-color;

    transition: all 0.3s;
    &:hover {
        background: $primary-color-lighter100;
    }
}

.tertiary {
    color: $primary-color;
    fill: $primary-color;
    background: transparent;
    border: 2px solid $primary-color-lighter600;
    font-weight: 600;
    padding: 8px 18px;

    &:hover {
        background: $primary-color;
        border-color: $primary-color;
        color: #fff;
        fill: #fff;
    }
}
