@import '../../../shared/styles/variables.scss';

.templateWrapper {
    display: flex;
    width: 1280px;
    background: #fff;
    // height: 100%;
    min-height: 100vh; // to be removed later
    margin: auto;
}

.contentContainer {
    padding: 20px 40px;
    width: 65%;
    padding-top: 70px;
}

.placeHolder {
    width: 20px;
}

.aside {
    width: 35%;
    padding-top: 120px;
    // height: 100vh; // to be removed later
    background: $volga-primary;
}
