@import 'shared/styles/variables.scss';

.label {
    display: inline-block;
    background: $primary-color-lighter600;
    color: $primary-color-lighter100;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 10px;
}
