// pallete 8
$primary-color: #2186eb;
$text-color: #2b2d42;
$bg-color: #f5f7fa;
$border-color: #e4e7eb;

$text-color2: #002159;
$grey-color: #fcfdfe;
// $text-heading: #252733;

// $text-light: #8d99ae;

$light-grey: #edf2f4;
// $bg: #f7f8fc;
// $red-color: #ef476f;
// $light-green-color: #2a9d8f;

// $ocean-green: #3fb079;
// $magic-ment: #b6f1d3;
// $nile-blue: #1a4b60;
// $mint-green: #7ff999;
