$primary-color: #27baef;
$primary-color2: #4ba15a;
$primary-color3: #098e54;
$text: #264653;
$text2: #2b2d42;
$text-heading: #252733;

$text-light: #8d99ae;

$light-grey: #edf2f4;
$bg: #f7f8fc;
$red-color: #ef476f;
$light-green-color: #2a9d8f;

$ocean-green: #3fb079;
$magic-ment: #b6f1d3;
$nile-blue: #1a4b60;
$mint-green: #7ff999;

$border-color: #ccc;
