// pallete 8
$primary-color: #2186eb;
$text-color: #2b2d42;
$text-color2: #494d70;
$bg-color: #f5f7fa;
$border-color: #e4e7eb;

$text-color-secondary: #7b8794;
$grey-color: #fcfdfe;
$light-grey: #edf2f4;

$volga-primary: #03449e;
