@import '../../../../../../../shared/styles/variables.scss';

.sectionTitle {
    color: $white-color;
    font-size: 24px;
    margin-bottom: 25px;
}

.item {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: normal;
    display: flex;
}

.icon {
    // fill: #fff;
    width: 20px;
    margin-right: 10px;
    svg {
        width: 18px;
    }
}
