// pallete 8
$primary-color: #2186eb;
$primary-color-lighter100: #47a3f3;
$primary-color-lighter200: #7cc4fa;
$primary-color-lighter300: #bae3ff;
$primary-color-lighter400: #e6f6ff;

$primary-color-darker100: #0967d2;
$primary-color-darker200: #0552b5;
$primary-color-darker300: #03449e;
$primary-color-darker400: #01337d;
$primary-color-darker500: #002159;

$text-color: #2b2d42;
$text-color2: #494d70;
$text-color3: #9aa5b1;

$bg-color: #f5f7fa;
$border-color: #e4e7eb;

// $text-color-secondary: #7b8794;
$grey-color: #fcfdfe;
$light-grey: #edf2f4;

$volga-primary: #03449e;
$white-color: #fff;
$light-text-color: #e4e7eb;
