// pallete 8
$primary-color: #6875d9;
// 8b78f1 from remotfit
// ff634b from peerboard
$primary-color-lighter100: #9786f2;
$primary-color-lighter200: #a293f4;
$primary-color-lighter300: #aea1f5;
$primary-color-lighter400: #b9aef7;
$primary-color-lighter500: #c5bcf8;
$primary-color-lighter600: #e8e4fc;
$primary-color-lighter700: #f3f2fe;

$primary-color-darker100: #7d6cd9;
$primary-color-darker200: #6f60c1;
$primary-color-darker300: #6154a9;
$primary-color-darker400: #534891;
$primary-color-darker500: #463c79;
$primary-color-darker600: #383060;

$secondary-color: #1b243f;

$text-color: #2b2d42;
$text-color2: #494d70;
$text-color3: #9aa5b1;

$bg-color: #f5f5f5;
$border-color: #e4e7eb;

// $text-color-secondary: #7b8794;
$grey-color: #fcfdfe;
$light-grey: #edf2f4;

$volga-primary: #03449e;
$white-color: #fff;
$light-text-color: #e4e7eb;

$success-color: #00b17c;
$warning-color: #f6ae00;
